version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    volumes:
      - .:/var/www
    environment:
      - SERVICE_NAME=app
    networks:
      - proxy

volumes:
  mysql_data:

networks:
  proxy:
    proxy
  external: true